doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Blog-azure-docker
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') blog docker and azure
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='/docker') Docker concepts
    .container-fluid
      .row-fluid
        .span9
          .hero-unit
            h1 Hello friends!
            p
              |this little blog will be a summary of the optuve information on azure, for more information you can go to the official azure documetation.
            p
              a.btn.btn-primary.btn-large(href='https://azure.microsoft.com/es-es/get-started') oficial documentation azure »
          hr
          div.alert.alert-success(role="alert")
            p.text-center Azure fundaments - (Nivel Beginner)    
          .row-fluid
            .span4
              h2 ¿What is azure?
              p
                a.btn(href='/azure/fundaments') View details »
            // /span
            .span4
              h2 Azure Virtual Machines
              p
                a.btn(href='/azure/vm') View details »
            .span4
              h2 Virtual networks in azure
              p
                a.btn(href='/azure/networks') View details »
          .row-fluid
            .span4
              h2 Load balance in azure
              p
                a.btn(href='/azure/balance') View details »
            .span4
              h2 Administration of Virtual Machines
              p
                a.btn(href='/azure/administration') View details »
            .span4
              h2 Azure and docker
              p
                a.btn(href='/azure/docker') View details »
      hr
      footer
        p © Blog by aguilar juan for all the comunity 2019
  include ../partials/scripts