extends layout
 
block content
  .jumbotron
    h3 Administration of Virtual Machines
    p.lead
      |Resource Manager = It is a new way to create a Virtual Machine within a group of resources where everything is going to be created optimally for:
      |¿ What are the advantages of Resource Manager? Take advantage of the hardware to optimize costs and have everything under a single data repository.
      br
      |Benefits that it provides:
      br
      |Unified administration of resources.
      |It establishes subnets with public or private IPs.
      |It is used to use network security groups.
      |Resource Groups = They are a very convenient way to work with information repositories. It helps keep the different Virtual Machines of each different user organized.
      |They can also be used to keep separate test groups and production groups.
    img(src="/img/azure-manager.png", alt="azure-manager")
    br
    br
    a.btn.btn-large.btn-success(href='/azure') back to azure blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019