extends layout
 
block content
  .jumbotron
    h3 Load balance in azure
    p.lead
      |Load balancing = It is a load balancer of requests that distributes incoming traffic between the instances.
      |this allows a high availability of the applications, that is, we have the guarantee that a website through the Virtual Machines is always available at all times.
      br
      |Possible scenarios to implement load balancing:
      br
      |Incoming traffic between Virtual Machines.
      |Traffic between Virtual Machines of a Virtual Network.
      |Forwarding external traffic to a specific Virtual Machine.
      br
      |azure allows us to choose between 3 options when implementing a load balancer
      br
      |*Azure Load Balancer.(is the default load balancing within Azure)
      |*Application Gateway.
      |*Trafic Manager.
      br
      |The procedure to implement a balancer in azure is:
      br
      |Create a load balancer.
      |Create an availability set (it is a logical grouping that allows you to isolate virtual machine resources from each other when they are deployed.)
      |Two Virtual Machines (or those that are working with).
      |Configure web servers
      |Configure the load balancer.
    img(src="/img/azure-balance.png", alt="azure-balance")
    br
    br
    a.btn.btn-large.btn-success(href='/azure') back to azure blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019