extends layout
 
block content
  .jumbotron
    h3 Azure and docker
    p.lead
      |azure allows us to use docker containers natively, since it has a linux image that has already implemented docker in this way we can create a virtual machine instance,
      |connect to it and run container of our docker images that we upload.
      br
      |Advantages of Dockers in Azure:
      br
      |possibility of multiplatform deployment and execution. There is compatibility between the containers of the Linux and Windows Server platforms.
      |It offers greater flexibility, allowing it to work with both microservice architecture and traditional applications.
      |Possibility of autoscalling.
      |Technical support with full coverage and a large community available to facilitate development and implementation.
    img(src="/img/docker-azure.png", alt="azure-deploy-decker")
    br
    br
    a.btn.btn-large.btn-success(href='/azure') back to azure blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019