extends layout
 
block content
  .jumbotron
    h3 Virtual networks in azure
    p.lead
      |The communication between cloud machines is a fundamental part that allows the machines within a small network to talk to each other and also 
      |guarantees an external security. This, are the Virtual Networks.
      br
      |The Virtual Networks guarantee that nobody else, within the parameters established in them, can access the shared resources in these machines,
      |thus giving a greater comfort to the companies and also guaranteeing good availability within the elements.
      br
      |azure allows us to create and manage our own virtual networks, for the communication of our virtual machines and to be able to share resources,
      |besides another common use for the creation of a virtual network is when we want to implement a load balancer
      |Another utility of virtual networks is to be able to have a hybrid or private cloud architecture,
      |I could connect servers that I have locally with those in the cloud or have all my infrastructure in the cloud in a secure way.
    img(src="/img/azure-networks.png", alt="azure-networks")
    br
    br
    a.btn.btn-large.btn-success(href='/azure') back to azure blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019