extends layout
 
block content
  .jumbotron
    h3 azure fundaments
    p.lead
      |Azure is a platform in the cloud that has several services,
      |among the most outstanding services is the possibility of creating virtual machines in a very simple way,
      |this can be done from the Azure website or through a terminal (azure CLI, is a command line tool that allows us to perform all our tasks just like using the Azure web interface).
      br
      |Within the main services offered by this tool are:
      br
      |.Creation of virtual machines (through a repository of images that Azure has) Customize a virtual machine ourselves and be able to use it in azure
      |.provides a managed data persistence service (Storage) to delegate the heavy burden of managing the data center
      |.services of hosting of applications (app services) as much of web applications as mobile with many technologies .NET Core, Java, Ruby, Node.js, PHP, Python, through the tools of continuous integration of this service we can compile and deploy our application very quickly
      |.Kubernetes fully managed container orchestration service (Azure Kubernetes Service (AKS), we can create our images docker of our applications and implement them with this service
    img(src="/img/azure-dashboard.png", alt="azure-dashboard")
    br
    br
    a.btn.btn-large.btn-success(href='/azure') back to azure blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019