extends layout
 
block content
  .jumbotron
    h3 Azure Virtual Machines
    p.lead
      |the creation of virtual machines is a very simple task, just select the image you want and set the configuration parameters.
      br
      |In addition there are important things that we should know about the Virtual Machines in Azure:
      br
      |We can forget about details of hardware overload to be able to concentrate on the project we are working on.
      |the infrastructure is already fully managed, there is no need to be aware of anything that has to do with hardware, the only thing that has to be taken into account is the RAM, since from this, we will have total control.
      |with azure we can calculate the size of Virtual Machines very well,
      |that is we can assign the amount of resources (cpu, memory, hard disk) according to our budget
      |Virtual Machines not only have Operating Systems based on Microsoft technologies, but also on GNU distribution technologies (Linux)
    img(src="/img/vm-azure.png", alt="azure-virtual machine")
    br
    br
    a.btn.btn-large.btn-success(href='/azure') back to azure blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019