extends layout
 
block content
  .jumbotron
    h3 Images docker
    p.lead
      |An image is the mold from which
      |instantiate containers, some features that contain the images are:
      br
      |* file system
      br
      |* Metadata
      br
      |* initial command
      br
      |this allows us to have a kind of "virtual machine" !! but much lighter consumed less resources !!,
      |inside we can add our application, ¿but where are the images stored?
      |It is important to know that there is an official public repository of docker images,
      |there you can find numerous preconfigured images with different components (databases, indexes, application servers, etc.) 
      |and yourself when you create your first docker image through the CLI docker (interface by line commands to interact with docker), docker will take 
      |charge of uploading your image to your repository (before you must create an account at (https://hub.docker.com)
    img(src="/img/images-docker.png", alt="docker create images")
    br
    a.btn.btn-large.btn-success(href='/docker') back to docker blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019