extends layout
 
block content
  .jumbotron
    h3 Docker Compose
    p.lead
      |There is a docker tool called Docker Compose that allows you to run Docker operations scripts
      |this allows to build images, run containers, create networks, volumes, etc.
      |It is not designed to be used in production. It is for use in development environments since the productive environment is usually
      |use container orchestrators that allow me to manage the entire ecosystem of containers that I will be deploying
      |There are several tools for this medium such as Swarm, Kubernetes, openshift
      br
      |With Docker Compose we can create multi-container applications either by opting for pre-configured images of the docker hub.
      |or by indicating a file (dockerfile) to generate the image, it is important to know that the "composition" is detailed in a YAML file,
      |by default called (docker-compose.yml).
    img(src="/img/docker-compose.png", alt="docker compose ")
    br
    br
    a.btn.btn-large.btn-success(href='/docker') back to docker blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019