extends layout
 
block content
  .jumbotron
    h3 Docker networks
    p.lead
      |Networks in Docker are virtual networks that connect containers as if they were in separate servers
      |Having a virtual network of containers will be very useful for us since we could create a series of applications
      |that communicate a good example would be to have in a container a database that is consumed
      |for a REST service that exists in another container, we could also add another container that has a messaging manager.
      |all these services can interact with each other thanks to the virtual networks offered by docker.
      br
      |docker Allows you to configure the accessibility of containers easily.
      br
      |There are 3 types of networks that we can apply:
      br
      |*bridge: Used by default: It allows to publish ports from the host.
      br
      |*host: Simulates that the container is part of the host.
      br
      |*none: Equivalent to not having a network board
    img(src="/img/redes_docker.png", alt="docker networks")
    br
    br
    a.btn.btn-large.btn-success(href='/docker') back to docker blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019