doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Blog-azure-docker
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') blog docker and azure
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='/azure') Azure concepts
    .container-fluid
      .row-fluid
        .span9
          .hero-unit
            h1 Hello friends!
            p
              | his little blog aims to present in a summarized way the most important tips of docker, so that you can quickly start working with docker,
              | I take the job of summarizing the essential of docker's official documentation for you,
              | enjoy it (I leave the link to the official documentation of docker, !! if you dare!)
            p
              a.btn.btn-primary.btn-large(href='https://docs.docker.com/') oficial documentation docker »
          hr
          div.alert.alert-success(role="alert")
            p.text-center Docker fundaments - (Nivel Beginner)    
          .row-fluid
            .span4
              h2 ¿What are containers?
              p
                |a good definition to know what all this of the (Containers) is:
                |The (Containers) are instances of Docker images,
              p
                a.btn(href='/docker/11') View details »
            // /span
            .span4
              h2 Images docker
              p
                |An image is the mold from which
                |instantiate containers, some features that contain the images are:
              p
                a.btn(href='/docker/images') View details »
            .span4
              h2 Docker persistence
              p
                |The containers must be considered immutable.
              p
                a.btn(href='/docker/persistence') View details »
          .row-fluid
            .span4
              h2 Docker networks
              p
                |Networks in Docker are virtual networks that connect containers as if they were in separate servers
              p
                a.btn(href='/docker/networks') View details »
            .span4
              h2 Dockerfile
              p
                |the way to create an image in docker, is through a file called (Dockerfile), reading the instructions indicated in this file.
              p
                a.btn(href="/docker/dockerfile") View details »
            .span4
              h2 Docker compose
              p
                |There is a docker tool called Docker Compose that allows you to run Docker operations scripts
              p
                a.btn(href='/docker/compose') View details »
      hr
      footer
        p © Blog by aguilar juan for all the comunity 2019
  include ../partials/scripts