extends layout
 
block content
  .jumbotron
    h3 Dockerfile
    p.lead
      |the way to create an image in docker, is through a file called (Dockerfile), reading the instructions indicated in this file
      |it will be possible to create an image automatically (the image will be saved in the docker hub)
      |the (Dockerfile) will contain all the commands that a given user can call, from the command line, to create an image
      br
      |in this way we can create our own image with everything that we decide within
      br
      |the (Dockerfile) You can include the following instructions:
      br
      |FROM: (Required as the first instruction in the file) Specifies the base image from which the Docker container is created.
      br
      |EXPOSE: (Required) Displays the ports that are exposed in the Docker container, you can specify multiple container ports.
      br
      |CMD: Specifies an executable and the default parameters, which are combined in the command that the container executes at launch.
    img(src="/img/dockerfile-image.jpg", alt="dockerfile create ")
    br
    br
    a.btn.btn-large.btn-success(href='/docker') back to docker blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019