extends layout
 
block content
  .jumbotron
    h3 Docker persistence
    p.lead
      |The containers must be considered immutable.
      |Persistence must be given outside of them.this means that the idea is that containers are by nature volatile,
      |they will be created knowing that they will not contain that we can erase and recreate quickly.
      |Docker provides mechanisms for map directories of the containers, with different systems of persistence.
      br
      |* tmpfs: Temporary partition in memory.
      br
      |Similar to Linux / tmp, it is used to store data that does not require long-term persistence,
      |It is not accessible by any other container or process, or it does something safer than the rest,
      |The writing in tmpfs is more performant than in the rest of the container
      br
      |* Bind mount: Mount a host folder in the container.
      br
      |Original Docker mechanism, a folder of a host filesystem is mounted in a path of the container,
      |It is transparent to the container but it is not a recommended mechanism to use in clusters,
      |because each cluster machine should have the same structure, it also serves to share configuration with the host.
      br
      |* Data volumes: Mount a Docker partition.
      br
      |Data Volumes are partitions managed internally by Docker. They are not accessible from the host (in theory).
      |this is the recommended mechanism, especially in clustered environments and others can be shared between containers.
    img(src="/img/docker-types-of-mounts.png", alt="docker persistence")
    br
    br
    a.btn.btn-large.btn-success(href='/docker') back to docker blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019