extends layout
 
block content
  .jumbotron
    h3 ¿What are containers?
    p.lead
      |a good definition to know what all this of the (Containers) is:
      |The (Containers) are instances of Docker images,
      |¿but what is a docker image?, well an image is basically a kind of template,
      |a capture of the state of a container, this allows that through a docker image it is possible to instantiate multiple (containers) each one different but starting of common characteristics define in the image. 
      |the objective behind the technology of the (containers) is to create an application and that this can be installed independently of the operating system that the machine has below, this is possible by installing docker on the host machine that will be responsible for starting the container).
      br
      br
      |a graphic view of the different corresponding states that a (container) can take will help to understand this concept. 
    img(src="/img/container-cicle.png", alt="docker cicle life")
    br
    a.btn.btn-large.btn-success(href='/docker') back to docker blog
  hr
  .footer
    p © Blog by aguilar juan for all the comunity 2019