doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pug Bootstrap Examples
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }

      .container-narrow {
      margin: 0 auto;
      max-width: 700px;
      }
      .container-narrow > hr {
      margin: 30px 0;
      }

      .jumbotron {
      margin: 60px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
 
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }

  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') home
          li
            a(href='/docker') Docker concepts
          li
            a(href='/azure') Azure concepts
        h3.muted simple Blog about docker and azure 
      hr
      .jumbotron
        h1 Welcome to my little blog, I hope you like it;)
        p.lead
          | This blog was made with the help of Bootstrap and nodejs with Express
        a.btn.btn-large.btn-success(href='https://gitlab.com/jucaguilar-01/blog-docker-azure') Source on GitLab
      hr
      .footer
        p © Blog by aguilar juan for all the comunity 2019
  include partials/scripts